[submodule "runtime"]
	path = runtime
	url = https://github.com/sireum/runtime
[submodule "slang"]
	path = slang
	url = https://github.com/sireum/slang
[submodule "tools"]
	path = tools
	url = https://github.com/sireum/tools
[submodule "alir"]
	path = alir
	url = https://github.com/sireum/alir
[submodule "logika"]
	path = logika
	url = https://github.com/sireum/logika
[submodule "hamr/air"]
	path = hamr/air
	url = https://github.com/sireum/air
[submodule "hamr/phantom"]
	path = hamr/phantom
	url = https://github.com/sireum/phantom
[submodule "transpilers"]
	path = transpilers
	url = https://github.com/sireum/transpilers
	# Github workflow's 'checkout' action runs 'git submodule update (...)'
	# without '--rebase' or '--merge', leading to a detached HEAD in the
	# 'transpiler' submodule identical to the desired 'anvil-dev' branch.
	#
	# This workaround preserves the submodule branch in tests, and will
	# be removed once 'anvil-dev' is merged into master.
	#
	# Other workarounds include:
	#   (1) Change ci files in .github/workflows/
	#   (2) Set in global git config
	#   (3) Add code after submodule update, e.g. 'git checkout anvil-dev'
	#   (4) Possibly setting the branch explicitly (unsure about this)
	#   (5) Move changes to transpilers/.gitmodules instead.
	#   	under relative module alias '[submodule "."]'
	#   (6) Set 'branch = anvil-dev' (unsure about this)
	update = rebase
[submodule "hamr/codegen"]
	path = hamr/codegen
	url = https://github.com/sireum/hamr-codegen.git
[submodule "server"]
	path = server
	url = https://github.com/sireum/server
[submodule "proyek"]
	path = proyek
	url = https://github.com/sireum/proyek
[submodule "anvil"]
	path = anvil
	url = https://github.com/sireum/anvil
[submodule "bin/linux"]
	path = bin/linux
	url = https://github.com/sireum/bin-linux
[submodule "bin/win"]
	path = bin/win
	url = https://github.com/sireum/bin-windows
[submodule "bin/mac"]
	path = bin/mac
	url = https://github.com/sireum/bin-mac
[submodule "parser"]
	path = parser
	url = https://github.com/sireum/parser
