/.bloop
/.bsp
/.idea
/.idea_modules
/.metadata
/.metals
/.scala-build
/.vscode
/bin/antlrworks.jar
/bin/.antlrworks.jar.ver
/bin/.sireum-win.jar
/bin/mill*
/bin/scala
/bin/sireum.jar
/bin/sireum.jar.bat
/bin/VER
/bin/*.sc
/bsp.log
/build.sc
/distro/config.txt
/distro/setup.bat
/distro/setup
/distro/*.sfx
/distro/*.exe
/lib
/log
/project.dot
/resources/rh
/resources/vagrant/.vagrant
out
project.json
project.csv
project.pdf
project.numbers
Scratch*.*
scratch*.*
stale_outputs_checked
*.cmd.jar
*.cmd.com
/.server.*
/.client.log
/.settings
/reports
/bin/reports
.fleet
/logika-examples
