[submodule "runtime"]
	path = runtime
	url = https://github.com/sireum/runtime
[submodule "slang"]
	path = slang
	url = https://github.com/sireum/slang
[submodule "tools"]
	path = tools
	url = https://github.com/sireum/tools
[submodule "alir"]
	path = alir
	url = https://github.com/sireum/alir
[submodule "bin/mill-build"]
	path = bin/mill-build
	url = https://github.com/sireum/mill-build
