/.idea
/.idea_modules
/.bloop
/.metals
/.bsp
/.vscode
/bsp.log
/.metadata
out
Scratch.scala
Scratch.sc
scratch.scala
scratch.sc
mill-standalone
/bin/win/java
/bin/mac/java
/bin/linux/java
/bin/linux/arm/java
/bin/scala
/bin/sireum.jar
/bin/.sireum-win.jar
/bin/mac/sireum*
/bin/linux/sireum*
/bin/win/sireum*
/bin/win/.sireum.exe
/lib
/bin/win/z3
/bin/mac/z3
/bin/linux/z3
/bin/win/cvc4.exe
/bin/mac/cvc4
/bin/linux/cvc4
/bin/win/.cvc4.ver
/bin/mac/.cvc4.ver
/bin/linux/.cvc4.ver
/bin/win/idea
/bin/linux/idea
/bin/linux/arm/idea
/bin/mac/idea
/bin/mill
/bin/mill.bat
/bin/VER
/resources/rh
/distro/*.sfx
/distro/*.exe
*.cmd.jar
*.cmd.com
/bin/win/graal
/bin/mac/graal
/bin/linux/graal
/bin/linux/arm/graal
/bin/mac/ccl
/bin/linux/ccl
/bin/mac/acl2
/bin/linux/acl2
/bin/mac/fmide.app
/bin/linux/fmide
/bin/win/fmide
/bin/win/clion
/bin/mac/clion
/bin/linux/clion
/bin/linux/arm/clion
/bin/linux/.checkstack
/bin/linux/.checkstack.ver
/bin/*.sc
stale_outputs_checked
/bin/mac/opam
/bin/linux/opam
/bin/linux/arm/opam
/bin/mac/.opam
/bin/linux/.opam
/bin/linux/arm/.opam
/bin/mac/compcert
/bin/linux/compcert
/bin/linux/arm/compcert
/resources/vagrant/.vagrant
