[submodule "runtime"]
	path = runtime
	url = https://github.com/sireum/runtime
[submodule "slang"]
	path = slang
	url = https://github.com/sireum/slang
[submodule "tools"]
	path = tools
	url = https://github.com/sireum/tools
[submodule "alir"]
	path = alir
	url = https://github.com/sireum/alir
[submodule "build"]
	path = build
	url = https://github.com/sireum/build
[submodule "logika"]
	path = logika
	url = https://github.com/sireum/logika
[submodule "hamr/air"]
	path = hamr/air
	url = https://github.com/sireum/air
[submodule "hamr/phantom"]
	path = hamr/phantom
	url = https://github.com/sireum/phantom
[submodule "transpilers"]
	path = transpilers
	url = https://github.com/sireum/transpilers
[submodule "hamr/codegen"]
	path = hamr/codegen
	url = https://github.com/sireum/hamr-codegen.git
[submodule "server"]
	path = server
	url = https://github.com/sireum/server
