/.bloop
/.bsp
/.idea
/.idea_modules
/.metadata
/.metals
/.vscode
/bin/.sireum-win.jar
/bin/mill
/bin/mill.bat
/bin/mill-standalone
/bin/scala
/bin/sireum.jar
/bin/VER
/bin/*.sc
/bsp.log
/build
/distro/config.txt
/distro/setup.bat
/distro/setup
/distro/*.sfx
/distro/*.exe
/lib
/project.dot
/resources/rh
/resources/vagrant/.vagrant
out
project.json
project.csv
project.pdf
Scratch.*
scratch.*
stale_outputs_checked
*.cmd.jar
*.cmd.com
/.server.log
/.client.log
