name: m2

on:
  push:

jobs:

  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Clean
        run: |
          rm -fR "$GITHUB_WORKSPACE/Sireum"
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: Sireum
          submodules: recursive
      - name: Build
        run: |
          export SIREUM_HOME="$GITHUB_WORKSPACE/Sireum"
          rm -fR "$GITHUB_WORKSPACE/.m2" $HOME/.m2
          "$SIREUM_HOME/bin/build.cmd" m2
          mv $HOME/.m2 "$GITHUB_WORKSPACE/.m2"
          zip -r org.sireum.m2.zip .m2
      - name: Upload
        uses: svenstaro/upload-release-action@v2
        with:
          repo_name: sireum/rolling
          repo_token: ${{ secrets.RELEASE_TOKEN }}
          file: org.sireum.m2.zip
          asset_name: org.sireum.m2.zip
          tag: m2
          overwrite: true
      - name: Trigger JitPack
        run: |
          cd "$GITHUB_WORKSPACE"
          export SIREUM_HOME="$GITHUB_WORKSPACE/Sireum"
          timeout 10s "$SIREUM_HOME/bin/build.cmd" jitpack || true
